<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#121212" />
    <meta name="description" content="Find best Restaurants" />
    <title>De Resto Official</title>
    <link rel="apple-touch-icon" href="/icons/deresto.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link
      rel="icon"
      href="/icons/deresto-72x72.png"
      type="image/x-icon" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <a tabindex="0" class="skip-link">Menuju ke konten</a>
    <header class="appbar">
      <a href="#/home">
        <img
          src="./images/icons/logo-deresto.svg"
          alt="logo deresto"
          class="logo"
      /></a>
      <button id="btn-menu" style="min-width: 44px; min-height: 44px">
        ☰
      </button>
      <nav id="drawer">
        <a href="#/home">Home</a>
        <a href="#/favorite">Favorite</a>
        <a
          href="https://rioaldie.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
          >About us</a
        >
      </nav>
    </header>
    <main tabindex="0" id="mainContent"></main>
    <footer>
      <p>Copyright © 2023 - De Resto Official All Reserved</p>
    </footer>
  </body>
</html>
