@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto&display=swap');

$dark-primary: #121212;
$dark-secondary: #272727;
$kaushan: 'Kaushan Script', cursive;
$roboto: 'Roboto', sans-serif;

a {
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
}
body {
  background: $dark-primary;
  max-width: 100vw;
  min-height: 100vh;
  display: block;
  padding: 0;
  margin: 0;
}
.skip-link {
  position: absolute;
  top: -70px;
  left: 20px;
  width: 150px;
  height: 50px;
  background-color: $dark-primary;
  color: #fff;
  padding: 8px;
  z-index: 1000000;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $roboto;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.skip-link:focus {
  top: 0;
}
.appbar {
  background: $dark-secondary;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  position: sticky;
  top: 0px;
  z-index: 10000;
}

nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(1fr);
  row-gap: 5px;
  column-gap: 5px;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #bfbfbf;
  font-family: $kaushan;
  min-width: 150px;
  min-height: 44px;
}
nav a:hover {
  color: #fff;
  background: $dark-primary;
}
.page-active {
  color: #fff;
}

#drawer.open {
  transform: translate(260px, 0);
}
#btn-menu {
  min-height: 45px;
  min-width: 45px;
  display: none;
}
main {
  display: grid;
  place-items: center;
  margin-top: 50px;
  min-height: 100vh;
  padding: 0;
}
footer {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  color: #fff;
  font-family: $kaushan;
  background: $dark-secondary;
  display: grid;
  place-items: center;
  margin-top: 100px;
  bottom: 0px;
}
#hero {
  max-width: 90%;
}
#hero #thumbnail {
  max-width: 100%;
  max-height: 550px;
  background-size: cover;
  overflow: hidden;
}
#thumbnail-img {
  width: 100%;
  height: max-content;
  margin-top: -100px;
}
#hero .hero-detail {
  position: relative;
  color: #fff;
  display: grid;
  place-items: center;
  width: 100%;
  padding: 0;
  margin-top: -150px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

#hero .hero-detail h1 {
  font-size: 88px;
  font-family: $kaushan;
  color: #fff;
  margin: 0px;
}
#hero .hero-detail h2 {
  font-size: 32px;
  font-family: $kaushan;
  color: #bfbfbf;
  text-align: center;
  margin: 0px;
}
#container {
  min-width: max-content;
  max-width: 100vw;
  height: max-content;
  display: grid;
  row-gap: 30px;
  column-gap: 10px;
  align-content: center;
  grid-template-columns: repeat(3, 2fr);
  margin: 200px 0px;
  justify-items: center;
  place-items: center;
}
#container h3 {
  position: relative;
  color: #bfbfbf;
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
  font-family: $kaushan;
}
article.card {
  max-width: 390px;
  max-height: 400px;
  background: $dark-secondary;
  color: #fff;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: #272727 3px solid;
  transition: 0.5s;
}
article.card:hover {
  border: #bfbfbf 3px solid;
}
article.card img {
  filter: grayscale(100%);
}
article.card .card-detail {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr);
  place-items: center;
  align-items: center;
  row-gap: 15px;
}
article.card .card-detail h4 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-family: $kaushan;
}

article.card .card-detail h5 {
  margin: 0;
  font-size: 14px;
  font-family: $roboto;
}
article.card .card-detail h6 {
  margin: 0;
  font-size: 10px;
  font-family: $roboto;
}
#restaurant {
  color: #fff;
  width: 60%;
  display: flex;
  flex-direction: column;
}
#restaurant img {
  max-width: 100%;
  max-height: 500px;
}
.info-detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.info-detail h4 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-family: $kaushan;
}

.info-detail h5 {
  margin: 0;
  font-size: 16px;
  font-family: $roboto;
}
.info-detail h5 span {
  color: yellow;
}

.info-detail p {
  font-family: $roboto;
  font-size: 14px;
}
#menu {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#menu h4 {
  font-family: $kaushan;
  font-size: 18px;
  font-weight: 600;
}
#menu div {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#menu div .menu-item {
  min-width: 120px;
  min-height: 44px;
  max-width: max-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $dark-secondary;
  color: #bfbfbf;
  font-family: $roboto;
  font-size: 16px;
}
#review-container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
#review {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
#review-container h4 {
  font-family: $kaushan;
  font-size: 18px;
  font-weight: 600;
}
#review-container .box-info-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}
#review-container .box-info-review a {
  width: 44px;
  height: 44px;
  color: $dark-primary;
  background: #fff;
  border: #bfbfbf solid 1px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#review div {
  background: #272727;
  padding: 0px 20px;
  box-sizing: border-box;
}
#review div h5 {
  font-family: $kaushan;
  font-size: 18px;
  color: #fff;
}
#review div h6 {
  font-family: $roboto;
  font-size: 16px;
  color: #bfbfbf;
}
#review div p {
  font-family: $roboto;
  color: #fff;
  font-size: 16px;
}
.like {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  bottom: 20px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  font-size: 24px;
  color: #121212;
  cursor: pointer;
}
#favorite-container {
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}
#favorite-container h4 {
  font-family: $kaushan;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  color: #fff;
}
#form-review {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#form-review h4 {
  width: 100%;
  text-align: start;
  font-family: $kaushan;
  font-size: 18px;
  font-weight: 600;
}
#form-review label {
  width: 90%;
  color: #bfbfbf;
  font-family: $roboto;
  font-size: 16px;
}
#form-review input {
  width: 90%;
  font-size: 16px;
  height: 50px;
  border: #bfbfbf solid 2px;
  background: #272727;
  color: #bfbfbf;
}
#form-review textarea {
  width: 90%;
  height: 200px;
  font-size: 16px;
  border: #bfbfbf solid 2px;
  background: #272727;
  color: #bfbfbf;
}
#form-review button {
  width: 200px;
  height: 44px;
  border: #272727 solid 1px;
  background: #fff;
  font-family: $kaushan;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}
.not-found {
  color: #fff;
  font-family: $roboto;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.resto-item__not__found {
  color: #fff;
}
